<div class="bodycontent">
  <form (ngSubmit)="sendPassword()" [formGroup]="forgetPasswordForm">

    <div class="form-group full-width-container">
      <mat-form-field>
        <input matInput placeholder="Username" [formControl]="Username" name="Username" type="text" required>
        <mat-error *ngIf="Username.hasError('required')">Please enter Username</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group full-width-container">
      <mat-form-field>

        <input [formControl]="MobileNo" matInput type="number" placeholder="Enter Mobile Number" name="MobileNo"
          required>
        <mat-error *ngIf="MobileNo.hasError('required')">Please enter Password</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group full-width-container">
      <button mat-raised-button color="primary" [disabled]="!forgetPasswordForm.valid || loading" type="submit">Send
        Password</button> <br />
    </div>
  </form>
</div>