<div class="bodycontent">
  <form (ngSubmit)="registerUser()" [formGroup]="myGroup">

    <div class="form-group example-container">
      <mat-form-field>
        <input matInput placeholder="Name" [formControl]="Name" name="Name" type="text" required>
        <mat-error *ngIf="Name.hasError('required')">Please enter Name</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group example-container">
      <mat-form-field>
        <input matInput placeholder="UserName" [formControl]="UserName" name="UserName" type="text" required>
        <mat-error *ngIf="UserName.hasError('required')">Please enter UserName</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group example-container">
      <mat-form-field>
        <input matInput placeholder="Mobile Number" name="MobileNumber" [formControl]="MobileNo" type="number" required>
        <mat-error *ngIf="MobileNo.hasError('required')">Please enter Mobile Number</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group example-container">
      <mat-form-field>
        <input matInput placeholder="Password" name="Password" [formControl]="Password" type="password" required>
        <mat-error *ngIf="Password.hasError('required')">Please enter Password</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group example-container">
      <mat-form-field>
        <input matInput placeholder="Re enter Password" name="RePassword" [formControl]="RePassword" type="password"
          required>
        <mat-error *ngIf="RePassword.hasError('required')">Please Reenter Password</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group example-container">
      <mat-form-field>
        <mat-select placeholder="Winner" name="Winner" [formControl]="Winner" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let team of teams" [value]="team.TeamId">
            {{ team.TeamName }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="Winner.hasError('required')">Please choose a Winning team</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group example-container">
      <mat-form-field>
        <mat-select placeholder="Orange Cap" name="OrangeCap" [formControl]="OrangeCap" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let player of players" [value]="player.PlayerId">
            {{ player.PlayerName }} -> ({{player.TeamName}}) -> ({{player.PlayerType}})
          </mat-option>
        </mat-select>
        <mat-error *ngIf="OrangeCap.hasError('required')">Please choose Orange Cap Winner</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group example-container">
      <mat-form-field>
        <mat-select placeholder="Purple Cap" name="PurpleCap" [formControl]="PurpleCap" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let player of players" [value]="player.PlayerId">
            {{ player.PlayerName }} -> ({{player.TeamName}}) -> ({{player.PlayerType}})
          </mat-option>
        </mat-select>
        <mat-error *ngIf="PurpleCap.hasError('required')">Please choose Purple Cap Winner</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group example-container">
      <mat-form-field>
        <mat-select placeholder="Most Valueable Player" name="MVP" [formControl]="MVP" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let player of players" [value]="player.PlayerId">
            {{ player.PlayerName }} -> ({{player.TeamName}}) -> ({{player.PlayerType}})
          </mat-option>
        </mat-select>
        <mat-error *ngIf="MVP.hasError('required')">Please choose Most Valueable Player </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group example-container">
      <button mat-raised-button type="submit" name="Register" color="primary">Register</button>
    </div>
  </form>
</div>
