<div id="bodycontent">
  <form (ngSubmit)="UpdateConfig(config)" [formGroup]="myGroup">
    <div class="form-group full-width-container">
      <mat-form-field>
        <input matInput placeholder="Enter DaysAhead" name="daysAhead" [formControl]="daysAhead" type="number" required>
        <mat-error *ngIf="daysAhead.hasError('required')">Please enter no of Fifties</mat-error>
      </mat-form-field>
    </div>
    <button mat-raised-button type="submit" color="primary" name="UpdateConfig">Update</button>
  </form>
  <br /><br /><br />

  <form (ngSubmit)="OpenReprediction(Reprediction)" [formGroup]="myGroup">
    <div class="form-group full-width-container">
      <label>Open Reprediction:</label>
      <mat-radio-group>
        <div class="checkbox">

          <mat-radio-button class="example-radio-button" value="Yes" ng-model="Reprediction.OpenReprediction" required>
            Yes </mat-radio-button>
        </div>
        <div class="checkbox">

          <mat-radio-button class="example-radio-button" value="No" ng-model="Reprediction.OpenReprediction">
            No </mat-radio-button>
        </div>
      </mat-radio-group>
    </div>
    <button mat-raised-button type="submit" color="primary" name="UpdateConfig">Update</button>
  </form>
</div>