<div id="repredictionForm" class="tab-pane fade in active ">
  <form name="repredictionsForm" role="form">
    <div class="form-group">
      <label for="ddlWinner">IPL Winner:</label>
      <select class="form-control" ng-model="repredictions.Winner" id="ddlWinner" name="ddlWinner" required>
        <option value="">Select Winner</option>
        <option value="-1">No Reprediction</option>
        <option ng-repeat="result in results | unique:'TeamId'" value="{{result.TeamId}}">{{result.TeamName}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="ddlOrangeCap">Orange Cap Player:</label>
      <select class="form-control" ng-model="repredictions.OrangeCapId" id="ddlOrangeCap" name="ddlOrangeCap" required>
        <option value="">Select Player</option>
        <option value="-1">No Reprediction</option>
        <option ng-repeat="result in results" value="{{result.PlayerId}}">{{result.PlayerName}} ({{result.TeamId}})</option>
      </select>
    </div>
    <div class="form-group">
      <label for="ddlPurpleCap">Purple Cap Player:</label>
      <select class="form-control" ng-model="repredictions.PurpleCapId" id="ddlPurpleCap" name="ddlPurpleCap" required>
        <option value="">Select Player</option>
        <option value="-1">No Reprediction</option>
        <option ng-repeat="result in results" value="{{result.PlayerId}}">{{result.PlayerName}} ({{result.TeamId}})</option>
      </select>
    </div>
    <div class="form-group">
      <label for="ddlMVP">Most Valuable Player:</label>
      <select class="form-control" ng-model="repredictions.MVP" id="ddlMVP" name="ddlMVP" required>
        <option value="">Select Player</option>
        <option value="-1">No Reprediction</option>
        <option ng-repeat="result in results" value="{{result.PlayerId}}">{{result.PlayerName}} ({{result.TeamId}})</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary" ng-click="RePredict(repredictions)" data-ng-disabled="repredictionsForm.$invalid">RePredict</button>
  </form>
</div>
