.mat-column-Match {
    white-space: nowrap;
}

.mat-column-Scores {
    white-space: nowrap;
}

.mat-column-Wickets {
    white-space: nowrap;
}

.mat-column-Winner {
    white-space: nowrap;
}

.mat-column-RunScorer {
    white-space: nowrap;
}

.mat-column-WicketTaker {
    white-space: nowrap;
}

.mat-column-ManOfMatch {
    white-space: nowrap;
}

.mat-column-Fifties {    
    white-space: nowrap;
}

.mat-column-Boundaries {
    white-space: nowrap;
}

.mat-column-ModifiedDate {
    white-space: nowrap;
}

.mat-column-Points {
    white-space: nowrap;
}


.mat-cell, .mat-header-cell {
    padding-left: 10px;
}