/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
/* for sidenav to take whole page */

html, body {
	margin: 0;
	height: 100%;
}

.full-width-container {
	display: flex;
	flex-direction: column;
}

.half-width-container {
	display: flex;
}

.half-width-container>* {
	width: 50%;
}

.full-width-container>* {
	width: 100%;
}

.bodycontent {
	margin-top: 10px;
	width: 95%;
	margin: auto;
	overflow: hidden;
}

.scrollable-div {
	overflow: auto;
	position: relative;
}

table {
	width: 100%;
	border: black 1px;
}

.success {
	background: rgb(1, 112, 1);
	color: white;
}

.error {
	background: rgb(161, 0, 0);
	color: white;
}

.warning {
	background: rgb(175, 175, 9);
	color: black;
}

.IPL {
	position: relative;
	min-height: 91.3%;
}

#navbar-IPL {
	background-color: teal !important;
}

.IPL a {
	color: teal;
}

.IPL::after {
	background-color: lightblue !important;
	opacity: 0.20;
	position: absolute;
	top: 0%;
	bottom: 0%;
	right: 0%;
	left: 0%;
	z-index: -1;
	content: "";
	background-image: url(app/images/IPL.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.KKR {
	position: relative;
	min-height: 91.3%;
}

#navbar-KKR {
	background-color: #3A225C !important;
}

#navbar-KKR .logged {
	color: yellow !important;
}

.KKR a {
	color: white;
}

.KKR::after {
	background-color: #3A225C !important;
	opacity: 0.20;
	position: absolute;
	top: 0%;
	bottom: 0%;
	right: 0%;
	left: 0%;
	z-index: -1;
	content: "";
	background-image: url(app/images/KKR.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.MI {
	position: relative;
	min-height: 91.3%;
}

#navbar-MI {
	background-color: #133891 !important;
}

#navbar-MI .logged {
	color: yellow !important;
}

.MI a {
	color: white;
}

.MI::after {
	background-color: #133891 !important;
	opacity: 0.20;
	position: absolute;
	top: 0%;
	bottom: 0%;
	right: 0%;
	left: 0%;
	z-index: -1;
	content: "";
	background-image: url(app/images/MI.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.CSK {
	position: relative;
	color: black !important;
	min-height: 91.3%;
}

#navbar-CSK {
	background-color: #FEC401 !important;
}

#navbar-CSK .icon {
	color: darkgray;
}

#navbar-CSK .logged {
	color: green;
}

.CSK a {
	color: black;
}

.CSK::after {
	background-color: #FEC401 !important;
	opacity: 0.20;
	position: absolute;
	top: 0%;
	bottom: 0%;
	right: 0%;
	left: 0%;
	z-index: -1;
	content: "";
	background-image: url(app/images/CSK.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.RR {
	position: relative;
	color: black !important;
	min-height: 91.3%;
}

#navbar-RR {
	background-color: #204EB6 !important;
}

#navbar-RR .logged {
	color: yellow !important;
}

.RR a {
	color: white;
}

.RR::after {
	background-color: #204EB6 !important;
	opacity: 0.20;
	position: absolute;
	top: 0%;
	bottom: 0%;
	right: 0%;
	left: 0%;
	z-index: -1;
	content: "";
	background-image: url(app/images/RR.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.DD {
	position: relative;
	color: black !important;
	min-height: 91.3%;
}

#navbar-DD {
	background-color: #EB2923 !important;
}

#navbar-DD .logged {
	color: yellow !important;
}

.DD a {
	color: white;
}

.DD::after {
	background-color: #ffffff !important;
	opacity: 0.20;
	position: absolute;
	top: 0%;
	bottom: 0%;
	right: 0%;
	left: 0%;
	z-index: -1;
	content: "";
	background-image: url(app/images/DD.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.KXIP {
	position: relative;
	color: black !important;
	min-height: 91.3%;
}

#navbar-KXIP {
	background-color: #F3162E !important;
}

#navbar-KXIP .logged {
	color: yellow !important;
}

.KXIP a {
	color: white;
}

.KXIP::after {
	background-color: #30090A !important;
	opacity: 0.20;
	position: absolute;
	top: 0%;
	bottom: 0%;
	right: 0%;
	left: 0%;
	z-index: -1;
	content: "";
	background-image: url(app/images/KXIP.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.RCB {
	position: relative;
	color: black !important;
	min-height: 91.3%;
}

#navbar-RCB .logged {
	color: yellow !important;
}

#navbar-RCB {
	background-color: #25282A !important;
}

.RCB a {
	color: #CD9C1A !important;
}

.RCB::after {
	background-color: #3F2A2F !important;
	opacity: 0.20;
	position: absolute;
	top: 0%;
	bottom: 0%;
	right: 0%;
	left: 0%;
	z-index: -1;
	content: "";
	background-image: url(app/images/RCB.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.SRH {
	position: relative;
	color: black !important;
	min-height: 91.3%;
}

#navbar-SRH {
	background-color: #F1773F !important;
}

#navbar-SRH .logged {
	color: darkmagenta !important;
}

.SRH a {
	color: black;
}

.SRH::after {
	background-color: #AF5C5B !important;
	opacity: 0.20;
	position: absolute;
	top: 0%;
	bottom: 0%;
	right: 0%;
	left: 0%;
	z-index: -1;
	content: "";
	background-image: url(app/images/SRH.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}