/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

/* for sidenav to take whole page */
html, body { 
    margin: 0;
    height: 100%;
}

.full-width-container {
	display: flex;
	flex-direction: column;
}

.full-width-container>* {
	width: 100%;
}

.bodycontent {
	margin-top: 10px;
	width: 95%;
	margin: auto;
	overflow: hidden;
}

.scrollable-div
{
	overflow: auto;
	position: relative;
}

table {
	width: 100%;
	border: black 1px;	
  }