<div class="bodycontent">
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">

    <div class="form-group full-width-container">
      <mat-form-field>
        <input matInput placeholder="Username" [formControl]="Username" name="Username" type="text" required>
        <mat-error *ngIf="Username.hasError('required')">Please enter Username</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group full-width-container">
      <mat-form-field>
        <input matInput placeholder="Password" [formControl]="Password" name="Password" type="password" required>
        <mat-error *ngIf="Password.hasError('required')">Please enter Password</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group full-width-container">
      <button mat-raised-button [disabled]="loading" type="submit" name="Login" color="primary">Login</button>
    </div>
    <br />
    <div class="form-group half-width-container">
      <a mat-button [routerLink]="['/forgotPassword']" class=" btn btn-link" color="warn">Forgot Passoword ?</a>
      <a mat-button [routerLink]="['/register']" class="btn btn-link" color="warn">Dont have account yet?</a>
    </div>
  </form>
</div>
